$white: #ffffff;
$light-grey: #d8d8d8;
$font-grey: #9f9f9f;

:root {
  --q-white: #{$white};
  --q-light-grey: #{$light-grey};
  --q-font-grey: #{$font-grey};
}

body {
  background-color: var(--q-secondary);
}
