.text-500 {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.text-400 {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.text-sm-400 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.text-lg-500 {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}